/* Core styles */
.container {
  max-width: 1240px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/* Header section styles */
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
/* child combinator */
.header__logo > i {
  color: #059669;
}
.header__text {
  font-size: 20px;
  font-weight: 700;
  color: black;
  line-height: 28px;
}
.header__link {
  font-size: 14px;
  font-weight: 500;
  color: black;
  line-height: 20px;
  margin-right: 24px;
  transition: all 0.4s linear;
}
.header__link:hover {
  color: #059669;
}
